# Practical

## Problem 1

## Importing pandas

**1.** Import pandas under the name `pd`.

Import արեք pandas մոդուլը `pd` անունով։

In [5]:
import pandas as pd

**2.** Print the version of pandas that has been imported.

 Տպեք pandas մոդուլի տարբերակը։

In [6]:
pd.__version__

'1.0.5'

## DataFrame basics



Consider the following Python dictionary `data` and Python list `labels`:

In [7]:
import numpy as np



data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

**3.** Create a DataFrame `df` from this dictionary `data` which has the index `labels`.

Ստեղծեք `df` DataFrame `data` dictionary-ից, որի index-ը կլինի `labels` list-ը։

In [8]:
df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

**4.** Return the first 3 rows of the DataFrame `df`.

Տպեք `df` DataFrame-ի առաջին 3 տողերը։

In [9]:
print(df.head(3))

print(df[:3])

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

**5.** Select just the `animal` and `age` columns from the DataFrame `df`.

`df` DataFrame-ից ընտրեք միայն `animal` և `age` սյուները։

In [10]:
df[['animal', 'age']]

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

**6.** Select the data in rows `[3, 4, 8]` and in columns `['animal', 'age']`.

`df`-ից վերցրեք `[3, 4, 8]` տողերում ու `['animal', 'age']` սյուներում գտնվեղ տվյալները։

In [11]:
df.iloc[[3, 4, 8]][['animal', 'age']]

  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

In [12]:
df[['animal', 'age']].iloc[[3, 4, 8]]

  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

**7.** Select only the rows where the number of visits is greater than 3.

Ընտրեք `df` DataFrame-ի այն տողերը, որոնց տվյալների համար visits սյան արժեքը 3-ից մեծ է։

In [13]:
df[df.visits>3]

Empty DataFrame
Columns: [animal, age, visits, priority]
Index: []

**8.** Select the rows where the age is missing, i.e. is `NaN`.

Ընտրեք այն տողերը, որոնց տվյալների համար age սյունի արժեքը բացակայում է՝ այսինքն `NaN` է։

In [14]:
df[df.age.isna()]

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

**9.** Select the rows where the animal is a cat and the age is less than 3.

Ընտրեք այն տողերը, որոնց տվյալների համար animal սյունի արժեքը cat է և age սյունի արժեքը փոքր է 3-ից։

In [15]:
df[(df.animal == 'cat') & (df.age < 3)]

  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

**10.** Change the age in row 'f' to 1.5.

Փոխարինեք 'f' տողի age սյունի արժեքը 1.5-ով։

In [16]:
df.loc['f', 'age'] = 1.5

**11.** Add a new column 'n' with all 1s.

Ավելացրեք միայն 1-եր պարունակող 'n' սյունը։

In [17]:
df['n'] = 1
df.head()

  animal  age  visits priority  n
a    cat  2.5       1      yes  1
b    cat  3.0       3      yes  1
c  snake  0.5       2       no  1
d    dog  NaN       3      yes  1
e    dog  5.0       2       no  1

**12.** Count the number of each type of animal in `df`.

Հաշվեք `df`-ում տեղ գտած կենդանիների տիպերի քանակը։

In [18]:
df.animal.value_counts()

dog      4
cat      4
snake    2
Name: animal, dtype: int64

## Problem 2

### Import the library pandas as pd

#### Import արեք pandas գրադարանը pd  անունով

In [19]:
#

### Use the dataset gender.txt, assign to a variable gender and use user_id as index

### Օգտագործեք gender.txt dataset-ը, վերագրեք այն gender փոփոխականին ու օգտագործեք  user_id սյունը որպես index

In [20]:
gender = pd.read_csv('data/gender.txt', sep="|", index_col="user_id")

FileNotFoundError: [Errno 2] File data/gender.txt does not exist: 'data/gender.txt'

### Print the first 20 entries

### Տպեք առաջին 20 արժեքները

In [ ]:
gender.head(20)

### Print the last 10 entries

### Տպեք վերջին 10 արժեքները

In [ ]:
gender.tail(10)

### What is the number of rows in the dataset?

### Քանի տող կա dataset-ում?

In [ ]:
len(gender)

### What is the number of columns in the dataset?

### Քանի սյուն կա dataset-ում?

In [ ]:
len(gender.columns)

### Print the name of all the columns

### Տպեք սյուների անունները

In [ ]:
gender.columns

### How is the dataset indexed?

### Ինչպես է ինդեքսավորված dataset-ը?

In [ ]:
gender.index

### What is the data type of each column?

### Ինչ տիպի է ամեն սյունը՞

In [ ]:
gender.dtypes

### Print only the occupation column

### Տպեք միայն occupation սյունը

In [ ]:
gender['occupation']

### How many different occupations there are in this dataset?

### Քանի տարբեր occupation կա dataset-ում?

In [ ]:
gender['occupation'].nunique()

### What is the most popular occupation?

### Որն է ամենահաճախ հանդիպող occupation-ը?

In [ ]:
gender.occupation.mode()

In [ ]:
gender.occupation.value_counts().index[0]

## Problem 3

### Import the libraries

### Import արեք pandas գրադարանը pd անունով

In [ ]:
#

### Import the dataset drinks.csv, assign it to a variable called drinks

### Import արեք drinks.csv dataset-ը, վերագրեք այն drinks փոփոխականին

In [4]:
import pd
drinks = pd.read_csv('data/drinks.csv')

ModuleNotFoundError: No module named 'pd'

ModuleNotFoundError: No module named 'pd'

### Which continent drinks more beer on average?

### Որ continent-ն է միջինում ավելի շատ գարեջուր խմում՞

In [35]:
drinks.groupby('continent').beer_servings.mean()#.sort_values().index[-1]

continent
AF     61.471698
AS     37.045455
EU    193.777778
OC     89.687500
SA    175.083333
Name: beer_servings, dtype: float64

In [36]:
drinks.groupby('continent').beer_servings.mean().sort_values().index[-1]

'EU'

### For each continent print the statistics for wine consumption

### Ամեն continent-ի համար տպեք wine_servings-ի ստատիստիկան (mean, min, max, std, quartiles)

In [38]:
drinks.groupby('continent').wine_servings.describe()

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

### Print the mean alcohol consumption per continent for every column

### Ամեն սյան համար տպեք միջին ալկոհոլի օգտագործման քանակը ամեն continent-ի համար

In [39]:
drinks.groupby('continent').mean()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,61.471698,16.339623,16.264151,3.007547
AS,37.045455,60.840909,9.068182,2.170455
EU,193.777778,132.555556,142.222222,8.617778
OC,89.687500,58.437500,35.625000,3.381250
SA,175.083333,114.750000,62.416667,6.308333

### Print the median alcohol consumption per continent for every column

### Ամեն սյան համար տպեք մեդիան ալկոհոլի օգտագործման քանակը ամեն continent-ի համար

In [40]:
drinks.groupby('continent').median()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,32.0,3.0,2.0,2.30
AS,17.5,16.0,1.0,1.20
EU,219.0,122.0,128.0,10.00
OC,52.5,37.0,8.5,1.75
SA,162.5,108.5,12.0,6.85

### Print the mean, min and max values for spirt consumption. 

### Տպեք spirt-ի օգտագործման mean, min ու max-ը։

In [41]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

In [45]:
drinks['spirit_servings'].agg(['mean', 'min', 'max'])

mean     80.994819
min       0.000000
max     438.000000
Name: spirit_servings, dtype: float64